/*= GENERAL STYLES
--------------------------------------------------------*/
audio {
  height: 30px;
  border-radius: 5px;
}

th {
  text-align:  center;
  font-size: 15px;
}
body {
  padding-top: 45px;
}
.glyphicon{
  font-size: 21px;
}