/*= GENERAL STYLES
--------------------------------------------------------*/
audio {
  height: 30px;
  width: 500px;
  border-radius: 4px;
}

th {
  text-align:  center;
  font-size: 15px;
}
body {
  padding-top: 9px;
}
.glyphicon{
  font-size: 21px;
}